<div id="Mailing List" class="section">
    <div class="text">
        <h2>{{ include.heading | default: "Mailing List" }}</h2>
        <br>
        <p>{{ include.blurb | default: "Interested in our vision for the future of energy storage? Join our mailing list to stay up to date on Hyperion's development." }}</p>
    </div>

    <div class="email-input-container">
        <form action="https://formspree.io/f/xlddgwrd" method="POST">
            <!-- Honeypot for spam prevention -->
            <input type="text" name="_honeypot" style="display:none">

            <!-- Tells us which side of the site the signup came from -->
            <input type="hidden" name="audience" value="{{ page.audience }}">

            <!-- Email input -->
            <input type="email" name="email" class="email-input" placeholder="Enter your email" required>

            <!-- Submit button -->
            <button type="submit" class="submit-btn">{{ include.button | default: "Subscribe" }}</button>
            <footer>
                By subscribing, you agree to our
                <a href="javascript:void(0);" id="privacyPolicyLink" style="color: #f7c600; text-decoration: underline;">Privacy Policy</a>.
            </footer>
        </form>
   </div>
</div>
