<DOCTYPE html>
<html lang="en">

<head>    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3Y75KRXVT7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3Y75KRXVT7');
</script>
    <meta charset="UTF-8">
    <meta name="description" content="Hyperion battery swapping for your home and electric equipment">
    <meta name="keywords" content="battery energy storage, battery swapping, solar battery, home batteries, renewable energy storage, residential battery, BESS, Power backup, store extra solar">
    <meta name="author" content="Matthew Ashcroft">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Hyperion">
    <meta property="og:description" content="Hyperion battery swapping for your home and electric equipment">
    <meta property="og:image" content="https://www.hyperionbattery.com/Home%20swapping%20station_perspective_transparent.png">
    <meta property="og:url" content="https://hyperionbattery.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hyperion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
<!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    {{ content }}   

    <!-- JS -->
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    
</body>
</html>
